body{
	font-family: Helvetica, Arial;
	background-color: #eeeeee;
}
a:hover, a:visited{
	text-decoration: none !important;
}
.myNav{
	background-color: white;
	opacity: 1;
	z-index: 100;
}
.myNav > *{
	text-align: center;
	font-weight: bold;
}
.glyphicon-menu-hamburger{
	color: #882601;
}
.tab-content *{
	background-color: white !important;
	color: #062f4f;
}
.navbar-brand,.navbar-brand:hover, .navbar-brand:visited{
	color: #882601;
	font-size: 2em;
}
.active{
	background-color: #eeeeee;
}
#contribute{
	background-color: #062f4f;
	color:white;
	position: fixed;
	right: 10%;
	bottom: 5%;
	height: 70px;
	width: 70px;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 50%;
	z-index: 100;
}
#contribute:hover{
	color: #062f4f;
	background-color: white;
}
#addQ{
	background-color: #062f28;
	color:white;
	position: fixed;
	right: 10%;
	bottom: 5%;
	height: 70px;
	width: 70px;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 50%;
	z-index: 50;
}
#addA{
	background-color: #062f00;
	color: white;
	position: fixed;
	right: 10%;
	bottom: 5%;
	height: 70px;
	width: 70px;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 50%;
	z-index: 50;
}
#collapseExpand{
	background-color: #882601;
	color: white;
	position: fixed;
	bottom: 5%;
	right: 10%;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 1.5em;
	z-index: 50;
}
#collapseExpand:hover{
	background-color: white;
	color: #882601;
}
#contribute:focus, #contribute:active, #addQ:focus, #addQ:active, #addA:focus, #addA:active, #collapseExpand:active, #collapseExpand:focus{
	outline: none;
}
.titles{
	color: #813772;
	background-color: white;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
	height: 80px;
	border: 1px solid #813772;
	border-radius: 15px;
	background-color: white !important;
	margin: 10px 0px;
}
.titles:hover{
	border-left: 20px solid #813772;
}
.allContentModals{
	overflow-y: hidden;
	background-color: #eeeeee;
}
.contrastEffect{
	color: #062f4f;
	background-color: white;
}
.contrastEffect:hover{
	background-color: #062f4f;
	color: white;
}
.bodyContent{
	height: 1500px;
	padding: 10px;
	border: 1px solid #813772;
	border-radius: 15px;
	margin-top: 10px;
	background-color: white !important;
}
input, button{
	margin: 10px;
	padding: 5px;
}
.slideLeftToRight{
	width: 0%;
	height: 5px;
	background-color: #882601;
	margin: 0px;
	padding: 0px;
}
.colorBlue{
	background-color: blue;
}
/* Dynamic content's CSS */