body{
	font-family: Helvetica, Arial;
	background-color: black;
}
nav{
	z-index: 100;
}
.myNav{
	background-color: white;
	opacity: 1;
}
.navbar-brand{
	color: #882601;
	font-size: 2em;
}
.active{
	background-color: #eeeeee;
}
nav > *{
	text-align: center;
	font-weight: bold;
}
button *{
	margin: 5px;
}
#contribute{
	background-color: #062f4f;
	color:white;
	position: fixed;
	right: 10%;
	bottom: 5%;
	height: 70px;
	width: 70px;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 50%;
	z-index: 100;
}
#contribute:hover{
	color: #062f4f;
	background-color: white;
}
#addQ{
	background-color: #062f28;
	color:white;
	position: fixed;
	right: 10%;
	bottom: 5%;
	height: 70px;
	width: 70px;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 50%;
	z-index: 50;
}
#addA{
	background-color: #062f00;
	color: white;
	position: fixed;
	right: 10%;
	bottom: 5%;
	height: 70px;
	width: 70px;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 50%;
	z-index: 50;
}
#collapseExpand{
	background-color: #882601;
	color: white;
	position: fixed;
	bottom: 5%;
	right: 10%;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 1.5em;
	z-index: 50;
}
#collapseExpand:hover{
	background-color: white;
	color: #882601;
}
#contribute:focus, #contribute:active, #addQ:focus, #addQ:active, #addA:focus, #addA:active, #collapseExpand:active, #collapseExpand:focus{
	outline: none;
}
.titles{
	color: #813772;
	background-color: white;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
}
.titles:hover{
	border-left: 20px solid #813772;
}
.allContentModals{
	overflow: auto;
}
nav > div > div > ul > button{
	margin: 10px;
}
.contrastEffect:hover{
	background-color: #062f4f;
	color: white;
}
.bodyContent{
	height: 1500px;
}
.contrastEffect{
	color: #062f4f;
	background-color: white;
}
input, form > button{
	margin: 10px;
	padding: 5px;
}
/* Dynamic content's CSS */