/*To hide scroll bar but still be able to scroll in chrome*/
::-webkit-scrollbar{
    display: none;
}
/*When javascript is disabled*/
noscript{
	position: fixed;
	top: 0%;
	left: 0%;
	height: 100%;
	font-weight: bolder;
	font-size: 3em;
	padding: 10px;
	background-color: black;
	border-radius: 5px;
	color: white;
	z-index: 2000;
}
body{
	font-family: Helvetica, Arial;
	background-color: #eeeeee;
}
/*For no underline on anchors*/
a, a:hover, a:visited{
	text-decoration: none !important;
}
/*Navbar toggle on mobile screens*/
#forDropdown{
	position: fixed;
	right: 5%;
	top: 0%;
	border: 1px solid #882601;
}
.myNav{
	background-color: white;
	opacity: 1;
	z-index: 10;
}
.myNav > *{
	text-align: center;
	font-weight: bold;
}
.glyphicon-menu-hamburger{
	color: #882601;
	padding: 5px;
}
.tab-content *{
	background-color: white !important;
	color: #062f4f;
}
.navbar-brand,.navbar-brand:hover, .navbar-brand:visited{
	color: #882601;
	font-size: 2em;
}
.active{
	background-color: #eeeeee;
}
/*Buttons for styling*/
#contribute{
	background-color: #813772;
	color:white;
	position: fixed;
	right: 10%;
	bottom: 5%;
	height: 70px;
	width: 70px;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 50%;
	z-index: 100;
}
#contribute:hover{
	color: #813772;
	background-color: white;
}
#searchQ{
	background-color: blue;
	color: white;
	position: fixed;
	right: 10%;
	bottom: 5%;
	height: 70px;
	width: 70px;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 50%;
	z-index: 50;
}
#addQ{
	background-color: green;
	color:white;
	position: fixed;
	right: 10%;
	bottom: 5%;
	height: 70px;
	width: 70px;
	font-weight: bold;
	font-size: 1.5em;
	border-radius: 50%;
	z-index: 50;
}
#collapseExpand{
	background-color: red;
	color: white;
	position: fixed;
	bottom: 5%;
	right: 10%;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	font-weight: bold;
	font-size: 1.5em;
	z-index: 50;
}
#collapseExpand:hover{
	background-color: white;
	color: red;
}
#searchQ:focus, #searchQ:active, #contribute:focus, #contribute:active, #addQ:focus, #addQ:active, #collapseExpand:active, #collapseExpand:focus{
	outline: none;
}
.titles{
	color: #813772;
	padding: 25px;
	background-color: white;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	cursor: pointer;
	height: 80px;
	border: 1px solid #813772;
	border-radius: 15px;
	background-color: white !important;
	margin: 10px 0px;
}
.titles:hover{
	border-left: 20px solid #813772;
}
.allContentModals{
	background-color: #eeeeee;
}
.contrastEffect{
	color: #062f4f;
	background-color: white;
}
.contrastEffect:hover{
	background-color: #062f4f;
	color: white;
}
.bodyContent{
	overflow: auto;
	height: auto;
	padding: 10px;
	border: 1px solid #813772;
	border-radius: 15px;
	margin-top: 10px;
	background-color: white !important;
}
input, button{
	margin: 10px;
	padding: 5px;
}
/*Loading animation*/
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  font-size: 4em;
  position: relative;
  top: 5%;
  left: 45%;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/*Underline/Overline animation*/
.slideLeftToRight{
	width: 0%;
	height: 5px;
	background-color: #882601;
	margin: 0px;
	padding: 0px;
}
.colorBlue{
	background-color: #062f4f;
}
/*Custom modals*/
.customModal{
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}
.customModalContent{
	z-index: 1001;
	position: relative;
	top: 10%;
	height: auto;
	background-color: white;
	border: 2px solid #062f4f;
	border-radius: 5px;
	padding: 10px;
}
.customModalClose{
	z-index: 1002;
	position: fixed;
	top: 1%;
	left: 1%;
	background-color: white;
	color: #062f4f;
}
.questionThreadModal{
	z-index: 1010;
}
.questionThreadModalContent{
	z-index: 1011;
}
.questionThreadModalClose{
	z-index: 1012;
	position: fixed;
	top: 1%;
	left: 1%;
	background-color: white;
	color: #062f4f;
}
.profileModal{
	z-index: 1020;
}
.profileModalContent{
	z-index: 1021;
}
.profileModalClose{
	z-index: 1022;
	position: fixed;
	top: 1%;
	left: 1%;
	background-color: white;
	color: #062f4f;
}
.customModalClose:hover, .questionThreadModalClose:hover, .profileModalClose:hover{
	background-color: #062f4f;
	color: white;
}
.profile:hover, .logout:hover, .addQuestion:hover, .findQuestion:hover, .question:hover{
	cursor: pointer;
}
#logoutResponse, #addQuestionResponse, #findQuestionResponse{
	display: none;
	padding: 10px;
	font-weight: bold;
	margin: 10px;
	border-radius: 5px;
}
.customInputDesign{
	position: relative;
	padding: 5px;
	margin: 10px;
	width: 80%;
	border-radius: 5px;
	outline: none;
}
.customInputDesign:hover{
	border: 2px solid #882601;
}
.customInputDesign:focus{
	border: 2px solid #062f4f;
}
