body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 10%;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    display: inline-block;
    width: 100%;
}


.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    font-family: 'Lobster';
    font-size:2em;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #calender{
      display: block;
      border-radius: 50%;
      color:#fff;
      background-color: #999;
      position: fixed;
      right: 10%;
      bottom: 5%;
      height: 70px;
      width: 70px;
      font-weight: bold;
      font-size: 1.5em;
      z-index: 99999;
    }
}
/* Hamburger Bar CSS */
#b1 ,#b2 ,#b3 {
	width:30px;
	height: 3px;
	background-color: #fff;
	margin: 6px 0;
    border-radius: 3px;
	transition: all 0.4s ease-in-out; 
}
.barcontainer {
    display: inline-block;
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius:3px;
    background-color: #000;
    z-index: 10;
    padding:3px;
    border-right:1px solid black;
    border-bottom:1px solid black;
    border-top:1px solid black;
    opacity:1;

}
.sidebar-nav .dropdown-menu 
{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
/* Change onClick to  */
	.change #b1 {
	    -webkit-transform: rotate(-180deg) translate(-10px, 6px) ;
	    transform: rotate(90deg) translate(8px, 0px) ;
      background-color: #999; 
      
	}

	.change #b2 {-webkit-transform: rotate(-180deg) translate(-8px, 6px) ;
        transform: rotate(90deg) translate(-1px,10px);
        background-color: #999;  }

	.change #b3 {
	    -webkit-transform: rotate(90deg) translate(-10px, -10px) ;
	    transform: rotate(-90deg) translate(10px,10px) ;
      background-color: #999;  
	}
/*--END--*/
  ul.dropdown-menu li{
    font-family:'Cuprum',sans-serif !important;
  }
  .sidebar-nav li a:hover,
  .sidebar-nav li a:active,
  .sidebar-nav li a:focus,
  .sidebar-nav li.open a:hover,
  .sidebar-nav li.open a:active,
  .sidebar-nav li.open a:focus
  {
      color: #fff;
      text-decoration: none;
      background-color: transparent;
  }
  /*#calender{
    display: block;
      border-radius: 50%;
      position: fixed;
      right: 10%;
      bottom: 5%;
      height: 70px;
      width: 70px;
      font-weight: bold;
      font-size: 3em;
      z-index: 99999;
  }*/

  /*.Mazamodal{
    display: none; 
    position: fixed; 
    z-index: 100000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
  }
  .Mazamodal-content{
    padding: 10% auto;
    border:1px solid #878787 ;
    width:85%;
  }
  .close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover
 {
    color: black;
    text-decoration: none;
    cursor: pointer;
}*/
  .load-bar{
    position:relative;
    margin-top: -40px;
    margin-left: 22px;
    width: 100%;
    height: 6px;
    background-color: #fdba2c;
    /*display: none;*/
  }
  .bar{
    content: "";
    display:inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
  }
  .bar:nth-child(1) {
  background-color: #da4733;
  animation: loading 3s linear infinite;
  }
  .bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 3s linear 1s infinite;
  }
  .bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
  }
  @keyframes loading {
      from {left: 50%; width: 0;z-index:100;}
      33.3333% {left: 0; width: 100%;z-index: 10;}
      to {left: 0; width: 100%;}
  }
  #header{
      font-family: 'Cuprum', sans-serif;
      font-size: 2.2em;
      text-align: center;
      text-shadow: 1px 1px 4px #000;
      background: inherit;
      color:#000;
      opacity: 0.9;
    }
    #submit{
      color:#fff;
      border:rgb(255,255,255);
      background-color: rgba(13,13,209,0.8);
      width:120px;
      height: 50px;
      border-radius: 7px;
    }
    #submit:hover{
      color:rgb(13,13,209);
      background:rgb(255,255,255);
      border:1px solid rgb(13,13,209);
      transition: all 0.3s ease-in-out;
    }
    .alert{
      position:relative;
      margin-top: 35px;
      margin-left: 10%;
      width: 80%;
      height: 20px;
      background: rgba(10,230,10,0.3);
      color:darkgreen;
      border-radius: 5px;
      border:1px solid darkgreen;
      text-align: center;
      padding-bottom: 30px;
      font-size: 1.3em;
      display: none;
      webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
      -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    }

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.logoutbtn{
  bottom:5%;
 
}
button.logoutbtn:hover{
  background: #000;
  border:1px solid #fff;
  color:#FFF;
  transition:all 0.4s ease-in; 
}
    .status-box{
      background-color:rgba(27, 98, 211,0.75);
      text-align: center;
      width:100%;
      margin:0px;
    }
    .stat_container{
      float:left;
      margin-top: 5%;
      margin-left: 3%;  
      color:#fff;     
      padding-right: 6%;
      padding-bottom: 7%;
      width:20%;

    }
    .stat_caption{
      color:#fff;
      font-size:2em;
    }
    .status{
      border-radius: 50%;
      border:8px solid rgba(255,255,255,0.8  );
      text-align: center;
      padding-top: 20%;
      padding-bottom: 0;
      color:#fff;
      background-color: rgba(95,15,78,0.8.5);
      box-shadow: 8px 5px 5px rgba(95,15,78,0.9);
      font-family: 'Exo 2', sans-serif;
      font-size: 3.5em;
      min-height: 150px;
      min-width:150px;
      float:left;
      margin-bottom: 10%;
    }
    .status:hover{
      background:rgba(255,255,255,1);
      color:rgb(27, 98, 211);
      border-color: rgb(27, 98, 211);
      transition: all 0.4s ease-in;
    }
    .tablediv{
      max-width: 100%;
      max-width: 100%;
      text-align: center;
      padding-bottom: 5%;
    }
    table * :hover{
      cursor:pointer;
    }

    .loader {
      margin-left: 47%;
      margin-top: 20%;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid blue;
	  border-bottom: 16px solid blue;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.toggle-header {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:2em;
}
.toggle-header *{
	font-family: 'Source Sans Pro', sans-serif;
}
.hr{
	height: 7px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
	
}
